* {
  margin: 0px;
  font-family: monospace;
}

button,
.add-inventory__form-reset-button,
.add-inventory__form-submit-button,
.search-inventory__form-reset-button,
.search-inventory__form-submit-button,
.search-inventory__form-hideAll-button,
.search-inventory__form-showAll-button {
  cursor: pointer;
}

body {
  border: 1px solid grey;
}

h2 {
  font-size: 2em;
  color: purple;
  text-align: center;
  border-bottom: 2px solid orange
}

.header {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px;
}

.header__logo {
  width: 80px;
}

.header__logo-img {
  width: 80px;
}

.header__right-text {
  font-size: 3em;
  color: purple;
  padding-bottom: 15px;
  text-align: center;
}

.header__right-navbar {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;  
}

.main {
  height: auto;
  display: grid;
  background: whitesmoke;
  border-bottom: 2px solid green;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:auto auto;
}

img {
  width: 375px;
}

.display{
  grid-column: 1 / 1;
  border: 2px solid lightpink
}

.display__product {
  display: block;
}

.display__product-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display__product-img-container{
  display: flex;
  justify-content: center;
}

.display__product-header {
  border-bottom: none;
}

.display__warehouse-info-header {
  margin-bottom: 10px;
  border-top: 2px solid orange;
}


.information {
  grid-column: 1 / 3;
  border: 2px solid blue;
}

.inventory {
  grid-column: 2 / 3;
  border: 2px solid green;
}

.display__product-info {
  display: none;

  li {
      list-style: square;
      font-weight: 900;
      font-size: 1.5em;
  }

  span {
      color: purple;
  }
}

.search-inventory,
.add-inventory {
  display: grid;
  grid-template-rows: auto auto;
}

.search-inventory__form,
.add-inventory__form {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 10px;

  label {
      text-align: center
  }
}

.display__product-info-summary{
  display: grid;
  grid-template-columns: 1fr 1fr;
  ul {
      display: flex;
      flex-direction: column;
  }
}

.search-inventory__form-reset-button,
.add-inventory__form-reset-button,
.search-inventory__form-hideAll-button {
  grid-column: 1 / 3;
  margin: 5px;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 900;
  background: skyblue;
  color: purple;
  border-radius: 5px;
  border: 2px solid grey;
}

.search-inventory__form-submit-button,
.add-inventory__form-submit-button,
.search-inventory__form-showAll-button {
  grid-column: 3 / 5;
  margin: 5px;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 900;
  background: skyblue;
  color: purple;
  border-radius: 5px;
  border: 2px solid grey;
}

.information__table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);

  button {
      font-size: 1.5em;
      font-weight: 900;
      padding: 1px;
      background: skyblue;
      color: purple;
      border-radius: 5px;
      border: 2px solid grey;
  }

  .information__list {
      grid-column: 1 / 19;
      padding-inline-start: 0;
  }

}

.information__list-item {
  display: grid;
  grid-template-columns: repeat(18, 1fr);

  span {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
  }

  img {
      width: 100%;
      height: 100%;
  }

}

.information__option {
  display: grid;
}

@media (max-width: 1100px ) {

  .add-inventory,
  .information__table,
  .information__list {
      display: none;
  }

  .main {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
  }
  .display__product-img-container{
      display: flex;
      justify-content: center;
  }

}

@media (max-width: 550px ) {

  .add-inventory,
  .information__table,
  .information__list {
      display: none;
  }

  .search-inventory__form,
  .search-inventory {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
  }

}